/*
    TODO: pick a proper color scheme for BingeBounty
*/

// https://coolors.co/eaefbd-e4572e-597081-ff47da-ccc9dc

$light-gray: #f2f1f7;
$gray: #597081; // dark electric blue!?
$dark-gray: #31373d;
