<%= render "shared/banner" %>

<h1>Writeups</h1>

<%= link_to "text", new_article_path, class: "btn btn-flat" %>

<ul>
<% @articles.each do |article| %>
    <li><%= article.title %></li>
<% end %>
</ul>
