<%= link_to article_path(item), class: "card" do %>
    <h2><%= item.title %></h2>
    <span class="preview-text">
        <%= item.body[..256] %>...
    </span>
    <span class="author">
        <span>
            Author: <%= item.user.username %>
        </span>
    </span>
<% end %>
