.banner {
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url("/banner.svg"), linear-gradient(rgb(0, 0, 0),rgb(68, 94, 67));
    background-size: cover;
    height: 512px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-bottom: 10px;
}
