@import "../config/colors";

.cards {
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.card {
    padding: 2em;
    margin: 10px;
    border: 0px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.219);
    background-color: white;
    .preview-text {
        color: black;
    }
    .author {
        color: $gray;
        display: flex;
        justify-content: flex-end;
    }
    h2 {
        color: black;
    }
    display: flex;
    justify-content: space-between;
}

a.card {
    text-decoration: none;
}

@media only screen and (max-width: 1000px) {
    .cards {
        grid-template-columns: 1fr;
    }
}
